.travelPlan {
  max-width: 95%;
  margin: 40px auto;
  margin-bottom: 40px;
  background: #C0C0C0;
  padding: 40px;
  box-sizing: border-box;
  color:#121212;
}
.travelPlan ul {
  padding: 0;
  justify-content: left;
  margin-top: 0;
  padding-left: 50px;
}
.travelPlan li {
  margin-right: 10px;
  justify-content: left;
}

.travelDescription {
  text-align: justify;
  line-height: 1.5em;
}

.duration{
  text-align: center;
}

/* dark mode */
.travelPlan.dark {
  background: #121212;
  color: #e4e4e4;
}
