.master-page-theme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
}

/* dark mode */
.master-page-theme .card.dark {
    background: #555;
}

.master-page-theme .card.dark p,
.master-page-theme .card.dark h3,
.master-page-theme .card.dark h4,
.master-page-theme .card.dark ul,
.master-page-theme .card.dark div {
    color: #e4e4e4;
}